pandas==0.24.2
requests==2.22.0
tweepy==3.8.0
pep8==1.7.1
autopep8==1.4.4
firebase-admin==3.2.1
Flask==1.1.1
Flask-Cors==3.0.8
mecab-python3==0.996.2
# seaborn==0.9.0
python-twitter==3.5
uwsgi
slackweb==1.0.5
timeout-decorator==0.4.1
urllib3
pyopenssl
ndg-httpsclient
pyasn1
